* {
    padding: 0;
    margin: 0;
}




.header {
    padding-top: 48px;
    padding-bottom: 48px;
}

.header-container {
    max-width: 1144px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-img {
    display: flex;
}

.header-list {
    margin-left: auto;
    display: flex;
    gap: 44px;
    list-style: none;

}

.nav-link {
    text-decoration: none;
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-align: right;
    color: #242A45;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #FA5959;
}

.header-btn {
    margin-left: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #FA5959;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

.header-btn:hover {
    border: 2px solid #FA5959;
    background-color: transparent;
    color: #FA5959;
    font-weight: 700;
}

.header-hamburger {
    border: none;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    display: none;
}




.section {
    padding-top: 48px;
    padding-bottom: 48px;
    position: fixed;
    background-color: #242A45;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 111;
}

.section-container {
    max-width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.section-imglar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.section-img-1 {
    display: flex;
}

.section-img-2 {
    display: flex;
}

.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

}

.section-item {
    width: 100%;
    height: 50px;
    text-align: center;
    list-style: none;
    align-items: center;
}

.section-item-link {
    text-decoration: none;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.307692050933838px;
    text-align: center;
    color: white;
}

.section-btn {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 2.307692289352417px;
    color: white;
    cursor: pointer;
}


.section-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    gap: 40px;
    padding-bottom: 100px;
}

.section-facebook {
    display: flex;
}

.section-twitter {
    display: flex;
}

.section-facebook:hover {}






@media(max-width:768px) {
    .header-btn {
        display: none;
    }

    .nav-link {
        display: none;
    }

    .header-hamburger {
        display: block;
    }
}










.section-1 {
    padding-top: 108px;
    padding-bottom: 90px;
}

.section-1-container {
    max-width: 1144px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.section-1-card {
    padding-top: 70px;
    overflow: hidden;
}

.section-1-item {
    max-width: 540px;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.15000000596046448px;
    text-align: left;
    margin-bottom: 24px;
}

.section-1-text {
    max-width: 540px;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 32px;
    opacity: 0.5;
}

.section-1-buttons {
    display: flex;
    gap: 16px;
}

.section-1-buttton-link {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #5267DF;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    border: 2px solid #5267DF;
    transition: all 0.3s;
}

.section-1-buttton-link:hover {
    border: 2px solid #5267DF;
    color: #5267DF;
    background-color: transparent;
}

.section-1-buttton-link-1 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #F7F7F7;
    border-radius: 6px;
    color: #242A45;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    transition: all 0.3s;
    border: 2px solid #fff;
}

.section-1-buttton-link-1:hover {
    box-sizing: border-box;
    border: 2px solid rgb(91, 96, 116);
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
    background: rgb(255, 255, 255);
}

.section-1-card-2 {}

.section-1-img {
    max-width: 578px;
    height: 385px;
    border-radius: 8px;
    background: rgb(232, 234, 246);
}


@media(max-width:1072px) {
    .section-1 {
        padding-top: 0px;
    }

    .section-1-card {
        padding: 0;
    }

    .section-1-container {
        flex-direction: column-reverse;
    }

    .section-1-img {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-1-item {
        font-size: 48px;
        text-align: center;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-1-text {
        font-size: 18px;
        text-align: center;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-1-buttons {
        gap: 16px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .section-1-buttton-link {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 13px;
        padding-bottom: 10px;
    }

    .section-1-buttton-link-1 {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 13px;
        padding-bottom: 10px;
    }


}


@media(max-width:718px) {
    .section-1 {
        padding-top: 0px;
    }

    .section-1-card {
        padding: 0;
    }

    .section-1-container {
        flex-direction: column-reverse;
    }

    .section-1-img {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-1-item {
        font-size: 30px;
        text-align: center;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-1-text {
        font-size: 15px;
        text-align: center;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-1-buttons {
        gap: 14px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .section-1-buttton-link {
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 13px;
        padding-bottom: 10px;
    }

    .section-1-buttton-link-1 {
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 13px;
        padding-bottom: 10px;
    }


}



/* SECTION-2 */

.section-2 {
    padding-top: 90px;
    padding-bottom: 119px;
}

.section-2-container {
    max-width: 1144px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-2-card-1 {}

.section-2-item {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 16px;
}

.section-2-text {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.5;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.section-2-ro {
    display: flex;
    gap: 90.5px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 73.2px;
}

.section-2-link {
    padding: 0 0px 30px;
    border-bottom: 4px solid transparent;
    color: #242A45;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.533px;
    text-decoration: none;
    list-style: none;
    width: 243px;
    display: block;
    cursor: pointer;
    transition: all 0.3s;
}

.section-2-link:hover {
    color: #FA5959;
}

.section-2-link.active {
    border-bottom: 4px solid rgb(250, 89, 89);
}

.section-2-card-logotip {
    gap: 125px;
    display: none;
    position: relative;
    z-index: 111;
}

.col-decaration {
    width: 1000px;
    height: 352px;
    border-radius: 316.5px;
    background: rgb(82, 103, 223);
    left: -360px;
    position: absolute;
    top: 80px;
    left: -604px;
    z-index: 111;
}

.section-2-img {
    max-width: 578px;
    height: 385px;
    border-radius: 8px;
    background: rgb(232, 234, 246);
    position: relative;
}

.bgsg {}




.section-2-card-logotip.active {
    display: flex;
}



.section-2-img-text-item {
    padding-top: 57px;
}

.section-2-img-item {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.1px;
    text-align: left;
    margin-bottom: 16px;
}

.section-2-img-text {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.5;
    margin-bottom: 32px;
}



.section-2-img-button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
    background: rgb(82, 103, 223);
    padding: 13px 28px 13px 28px;
    background-color: #5267DF;
}



@media(max-width:1080px) {
    .section-2-card-logotip.active {
        display: contents;
    }

    .section-2-ro {
        margin-bottom: 72px;
    }

    .section-2-img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .section-2-img-item {
        text-align: center;
    }

    .section-2-img-text {
        max-width: 311px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .section-2-img-button {
        display: none;
    }

    .section-2-link.active {
        width: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .section-2-link {
        width: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 21px;
    }

    .section-2-ro {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-2-img {
        width: 100%;
    }

    .col-decaration {
        bottom: -190px;
    }

    .section-1-img {
        width: 100%;
    }

    .col-decaration {
        width: 577px;
        height: 203px;
        position: absolute;
        z-index: 111;
        display: none;
    }
}

@media(max-width:440px) {
    .section-2-img {
        width: 100%;
        height: 201px;
    }

    .section-1-img {
        width: 100%;
        height: 201px;
        position: relative;
    }

    .col-decaration {
        width: 577px;
        height: 203px;
        position: absolute;
        z-index: 111;
        display: none;
    }

    .section-1-buttton-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 17px;
        background-color: #5267DF;
        border-radius: 6px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 500;
        border: 2px solid #5267DF;
        transition: all 0.3s;
    }
}



/* section-3 */
.section-3 {
    padding-top: 90px;
    padding-bottom: 74px;
}

.section-3-container {
    max-width: 911px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 74px;
}

.section-3-card {}

.section-3-item {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 16px;
    text-align: center;
}

.section-3-text {
    opacity: 0.5;
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 48px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.section-3-2card {

    display: flex;
    gap: 30px;
}

.section-cards {
    width: 280px;
    height: 371px;
    left: 266px;
    right: -266px;
    top: 1869px;
    bottom: -1869px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
    background: rgb(255, 255, 255);
    flex-direction: column;
}

.section-3-card-img {
    width: 102px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 49px;
    margin-bottom: 32px;
}

.section-3-card-img-item {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-bottom: 6px;
}

.section-3-card-img-text {
    opacity: 0.5;
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 32px;
}

.section-3-card-btn {
    padding: 10px 35.5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
    background: rgb(82, 103, 223);
    border: none;
}

.section-3-card-img-1 {
    margin-bottom: 21px;
    width: 284px;
    flex-direction: column;
}


.section-cards:nth-child(2) {
    margin-top: 40px;
}

.section-cards:nth-child(3) {
    margin-top: 80px;
}

@media(max-width:1080px) {
    .section-3-2card {
        display: block;
    }

    .section-cards {
        width: 100%;
        margin-top: 40px;
    }

    .section-3-card-img-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}



/* section-4  */
.question {
    padding-top: 75px;
    padding-bottom: 150px;
}

.question-container {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.question-title {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 16px;
}

.question-text {
    opacity: 0.5;
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 56px;
}

.question-list {
    list-style: none;
    margin-bottom: 54px;
}

.question-item {
    border-bottom: 1px solid rgb(36, 42, 69, .2);
    padding-top: 19px;
    padding-bottom: 19px;
    cursor: pointer;
}


.question-item:first-child {
    border-top: 1px solid rgb(36, 42, 69, .2);
}

.question-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-item-btn {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.question-buttons {
    text-align: center;
}

.question-btn {
    padding: 10px 24px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
    background-color: rgb(82, 103, 223);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: left;
}

.question-item-text {
    opacity: 0.75;
    display: block;
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

.question-item-title {
    color: rgb(36, 42, 69);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
}

.open {
    max-height: 200px;
    padding-top: 32px;
    padding-bottom: 29px;
}

.color {
    color: #FA5959;
}

.rotate {
    /* transform: rotate(180deg); */
}

.rotet {
    transform: rotate(180deg);
}




/* CONTACT US */
.login {
    padding-top: 58px;
    padding-bottom: 74px;
    background-color: #5267DF;
}

.login-container {
    max-width: 482px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.login-text {
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 5px;
}

.login-title {
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 36px;
}

.email {
    max-width: 482px;
    display: flex;
    gap: 16px;
}

.email-input {
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 113px;
    padding-left: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.email-input::placeholder {
    outline: none;
    max-width: 300px;
}

.email-btn {
    padding: 10px 24px;
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
    background: rgb(250, 89, 89);
    border: none;
    cursor: pointer;
}

@media(max-width:544px) {
    .email {
        display: block;
        gap: 16px;
    }

    .email-input {
        width: 100%;
        padding-right: 0;
        max-height: 48px;
        padding-left: 0;
    }

    .email-btn {
        width: 100%;
        margin-top: 16px;
    }

    .input-email-div {
        width: 100%;
    }
}